
{% extends 'base.html' %}
{% block content %}
   


<section class="password-reset-section" style="padding: 60px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="password-reset-form" style="background-color: white; padding: 40px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    <h2 class="text-center" style="color: #333;">Password Reset</h2>
                        {% if validlink %}
                        <p class="text-center">Please enter  your new password twice:</p>
                        <form action = '.'method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-success w-100" style="padding: 10px 15px; font-size: 16px;">Change my password</button>
                        </form>
                        {% else %}
                        <p>Password reset link is invalid,possibly because it has been already been used . Please request a new password reset</p>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}