{% extends 'user-dashboard.html' %}
{% block title %} {{movie.title}}-About Movies {% endblock %}

{% block content %}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <span>Movie Details</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="movie-details spad">
    <div class="container">
        {% if movie %}
            <div class="movie__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="movie__details__pic text-white" style="max-width: 100%; height: auto;">
                            <img src="{{ movie.thumbnail.url }}" alt="{{ movie.title }}" class="img-fluid">
                            <div class="view"><i class="fa fa-eye" aria-label="Views"></i> {{ movie.total_views }}</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="movie__details__text text-white">
                            <div class="movie__details__title">
                                <h3>{{ movie.title }}</h3>
                                <span>Directed by {{ movie.director }}</span>
                            </div>
                            <div class="movie__details__rating">
                                <div class="rating">
                                    {% for i in "12345" %}
                                        <i class="fa {% if movie.rating|floatformat >= forloop.counter %}fa-star{% else %}fa-star-o{% endif %}"></i>
                                    {% endfor %}
                                </div>
                                <span>{{ movie.rating }} / 5 Rating</span>
                            </div>
                            <p>{{ movie.description }}</p>
                            <div class="movie__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Category:</span> {{ movie.category }}</li>
                                            <li><span>Genre:</span> {{ movie.genre }}</li>
                                            <li><span>Actors:</span> {{ movie.actors }}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Release Date:</span> {{ movie.release_date }}</li>
                                            <li><span>Views:</span> {{ movie.total_views }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="movie__details__btn">
                                <a href="{% url 'add_review' movie.movie_id %}" class="follow-btn"><i class="fa fa-comment-o"></i> Add Review</a><br>
    
                                <a href="{% url 'watch_movies' movie.movie_id %}" class="watch-btn"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% else %}
            <p>No movie details are available at this time. Please check back later.</p>
        {% endif %}
    </div>
</section>


{% endblock %}

