{%extends 'base.html' %}
{% block tilte %}login-easymovies{% endblock %}
{%block content %}
    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Login</h3>
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {% for field, errors in form.errors.items %}
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
            
                        <form id="loginForm" action="{% url 'login_page' %}" method="POST">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="text" id ="username" name="username" placeholder="Username">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" id="password" name="password" placeholder="Password">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Login Now</button>
                        </form>
                        <a href="{% url 'password_reset' %}" class="forget_pass">Forgot Your Password?</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Dont’t Have An Account?</h3>
                        <a href="{% url 'signup_page' %}" class="primary-btn">Register Now</a>
                    </div>
                </div>
            </div>
            <div class="login__social">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="login__social__links">
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->
     
{% endblock %}